.employeeTable{
    width: 100%;
    border-style: collapse;
    margin-top: 1em;
}

.employeeName{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.tableHeader, .tableBody{
    color: var(--gray-color-500);
    font-size: var(--body-1-size);
    font-weight: var(--body-1-weight);
    line-height: var(--body-1-line-height);
    text-align: left;
}

.tableBody{
    color: var(--dark-color-500);
}

.tableRow{
    border-bottom: 1px solid var(--gray-color-opacity-10);
}

.actionButtons{
    display: flex;
    column-gap: 0.2em;
}

.viewButton, .editButton, .deleteButton{
    background-color: var(--white-color-opacity-20);
    color: var(--dark-color-500);
    border: none;
}

td, th{
    border-bottom: 1px solid var(--gray-color-opacity-10);
    padding: 0.25em 0;
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.empNumbers{
    display: flex;
    column-gap: 0.5em;
    color: var(--gray-color-500);
    align-items: center;
}

.empSelect{
    background-color: var(--white-color-opacity-20);
    color: var(--dark-color-500);
    border: 1px solid var(--gray-color-opacity-20);
    padding: 0.5em;
    border-radius: 10px;
}

.empRecords{
    color: var(--gray-color-500);
    font-size: var(--body-2-size);
    font-weight: var(--body-2-weight);
    line-height: var(--body-2-line-height);
}

.pageNumbers{
    display: flex;
    column-gap: 0.5em;
}