.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.leftHeader{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.headerName{
    font-weight: var(--header-6-bold-weight);
    font-size: var(--header-6-size);
    line-height: var(--header-6-line-height);
}

.headerWelcome{
    font-weight: var(--body-2-weight);
    font-size: var(--body-2-size);
    line-height: var(--body-2-line-height);
    color: var(--gray-color-500);
}

.rightHeader{
    display: flex;
    column-gap: 1rem;
}

.headerSearch{
    display: flex;
    align-items: stretch;
    border: 1px solid var(--gray-color-opacity-10);
    border-radius: 10px;
    min-width: 20em;
}

.searchIcon{
    margin: auto 0 auto 1rem;
}

.seacrhInput{
    padding: 1rem;
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--body-1-size);
    font-weight: var(--body-1-weight);
    line-height: var(--body-1-line-height);
}

.seacrhInput::placeholder{
    color: var(--dark-color-opacity-20);
}

.headerNotification{
    border: none;
    border-radius: 10px;
    background-color: var(--gray-color-opacity-10);
}

.notificationIcon{
    padding: 1rem;
}

.headerProfile
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.profile{
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 0.25em;
}

.profileImg{
    border-radius: 10px;
    width: 2.5rem;
    height: 2.5rem;
}

.profileInfo{
    display: flex;
    flex-direction: column;
}

.profileName{
    font-weight: var(--body-1-bold-weight);
    font-size: var(--body-1-size);
    line-height: var(--body-1-line-height);
}

.profilePosition{
    font-weight: var(--caption-weight);
    font-size: var(--caption-size);
    line-height: var(--caption-line-height);
    color: var(--gray-color-500);
}