.sideNavbar {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: calc(100vh - 4rem);
  padding: 2rem 1.5rem;
  margin: 0.5rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  background-color: var(--gray-color-opacity-5);
}

.navHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.navHeader svg {
  height: 3rem;
  width: 3rem;
}

.sideNavbar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
}

.navMenu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  list-style: none;
  padding: 0;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 1rem;
  border-radius: 0 10px 10px 0 ;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navLink:hover {
  background-color: var(--primary-color-opacity-5);
  color: var(--primary-color-500);
}

.active {
  background-color: var(--primary-color-opacity-5);
  color: var(--primary-color-500);
  font-weight: var(--header-1-bold-weight);
}

.icon {
  font-size: 1.5rem;
  color: var(--primary-color-500);
}

.themeToggle {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.toggleButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

@media screen and (max-width: 1150px) {
  .themeToggle {
    display: flex;
    justify-content: center;
    flex-direction: column  ;
  }
}
